.activeLink {
  font-weight: bold;
  text-decoration: line-through;
  color: crimson;
}

.container {
  width: 75%;
  margin-inline: auto;
  max-width: 1025px;
}

.homeLink {
  text-align: end;
  list-style: none;
}

.homeLink a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

li > a {
  text-decoration: none;
}
